//- ng-class="{'background-color':(i.bgColor)};"
#top-sidebar(layout="row" layout-wrap)
    .cell.md-whiteframe-2dp(ng-repeat="i in ts.data" 
                            class="cell-{{$index+1}}"
                            layout="column" 
                            layout-align="center center"
                            flex-gt-md="25" 
                            flex-gt-xs="50" 
                            flex-xs="100")
        ng-include(src="'app/components/top-sidebar/' + $index + '.html'")