toolbar
#articles.md-padding

  h1.md-display-1.md-primary-txt.center-txt Articles

  md-content#articles.md-padding(layout-xs="column" 
                        layout="row" 
                        layout-wrap)
    //-  
      xs :    0...600
      sm :  600...960
      md :  960..1280
      lg : 1280..1920
      xl : 1920......
    div(flex-xs="100" 
        flex-sm="100" 
        flex-md="50" 
        flex-lg="50" 
        flex-xl="25" 
        layout="column" 
        ng-repeat="art in arts.articles")

      md-card.md-whiteframe-2dp.stick-to-screen
        md-card-title
          md-card-title-text
            span.md-headline.md-primary-txt(ng-bind="::art.header")
            span.md-subhead.md-primary-txt-hue2(ng-bind="::art.date")
            span.md-subhead.article-teaser(ng-bind-html="::art.teaser | unsafe")

          md-card-title-media
            div.md-media-lg.card-media
              img(ng-src="assets/images/articles/{{art.img.src}}-152x152.jpg")
        //- md-card-content
          p(ng-repeat="t in art.teaser" ng-bind-html="::t | unsafe")

        md-card-actions(layout="row" layout-align="end center")
          md-button.md-primary(ui-sref="article({id:art.img.src})") Read article
          //- md-button Share

metromed-footer